<!DOCTYPE html>
<html>



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval'">
    <title>My Profile</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="title" content="My Profile">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <meta property="fb:app_id" content="1782964465289118">
    <meta property="fb:admins" content="100009152644081">
    <meta property="fb:admins" content="trangsinh">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:url" content="/user/profile/">
    <meta property="og:site_name" content="Viet Corpus">
    <meta property="og:type" content="website">
    <meta property="og:title" content="My Profile">
    <meta property="og:description" content="">
    
    
    
    <meta name="twitter:card" value="summary">
    <meta name="twitter:url" content="/user/profile/">
    <meta name="twitter:title" content="My Profile">
    <meta name="twitter:description" content="">
    
    <meta name="twitter:site" content="https://vietcorpus.com">
    <meta name="twitter:creator" content="">
    
<link rel="stylesheet" type="text/css" href="/css/bundled.min.baa3951fb7f623ed4b6d95a41de213e3.css?ts=1659207177">
</head>

<body class="nk-body npc-invest bg-lighter" id="page-user-profile">
    <div class="nk-app-root">
        <div class="nk-wrap ">
            <div class="nk-header nk-header-fluid is-theme  is-regular">
    <div class="container-xl wide-xl">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger mr-sm-2 d-lg-none">
                <a id="btnMenu" href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav">
                    <em class="icon ni ni-menu"></em>
                </a>
            </div>
            <div class="nk-header-brand">
                <a href="/" class="logo-link">
                    
                    <span class="vc-logo">VietCorpus</span>
                </a>
            </div>
            <div id="headerMenu" class="nk-header-menu" data-content="headerNav">
                <div class="nk-header-mobile">
                    <div class="nk-header-brand">
                        <a href="/" class="logo-link">
                            <span class="black vc-logo">VietCorpus</span>
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon click-hide-menu" data-target="headerNav">
                            <em class="icon ni ni-arrow-left"></em>
                        </a>
                    </div>
                </div>
                <ul class="nk-menu nk-menu-main ui-s2">
                    <li class="nk-menu-item page-home">
                        <a href="/" class="nk-menu-link">
                            <span class="nk-menu-text">Home</span>
                        </a>
                    </li>
                    <li class="nk-menu-item page-about-us">
                        <a href="/page/about-us/" class="nk-menu-link">
                            <span class="nk-menu-text">About Us</span>
                        </a>
                    </li>
                    <li class="nk-menu-item page-guide">
                        <a href="/page/guide/" class="nk-menu-link">
                            <span class="nk-menu-text">Guide</span>
                        </a>
                    </li>
                    <li class="nk-menu-item page-contact">
                        <a href="/page/contact/" class="nk-menu-link">
                            <span class="nk-menu-text">Contact</span>
                        </a>
                    </li>
                    <li class="nk-menu-item page-user-corpus vc-private">
                        <a href="/user/corpus/" class="nk-menu-link">
                            <span class="nk-menu-text">My Corpus</span>
                        </a>
                    </li>
                    <li class="nk-menu-item page-search vc-private">
                        <a href="/search/" class="nk-menu-link">
                            <span class="nk-menu-text">Search</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScNLZHqzrFH5eSDu-3ONFJnPwK-x0NCn1Njbn8yFbbhGXnD4w/viewform" target="_blank" class="nk-menu-link">
                            <span class="nk-menu-text">Góp ý</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="menuOverlay" class="nk-header-overlay d-none click-hide-menu" data-target="headerNav"></div>
            <div class="nk-header-tools min961">
                <ul class="nk-menu nk-menu-main ui-s2">
                    <li class="nk-menu-item vc-public d-none page-signin">
                        <a href="/signin" class="nk-menu-link">
                            <span class="nk-menu-text">Login</span>
                        </a>
                    </li>
                    <li class="nk-menu-item page-signup">
                        <a href="/signup" class="nk-menu-link vc-public d-none">
                            <span class="nk-menu-text">Register</span>
                        </a>
                    </li>
                    <li class="nk-menu-item has-sub nav-r-li-username vc-private d-none">
                        <a href="#" class="nk-menu-toggle">
                            <div class="user-toggle">
                                <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                <div class="user-info d-none d-xl-block">
                                    <div class="user-name vc-name"></div>
                                </div>
                            </div>
                        </a>
                        <ul class="nk-menu-sub nk-menu-custom">
                            <li class="nk-menu-item"><a href="/user/profile" class="nk-menu-link"><span class="nk-menu-text">My Profile</span></a></li>
                            <li class="nk-menu-item"><a href="/user/corpus" class="nk-menu-link"><span class="nk-menu-text">My Corpus</span></a></li>
                            <li class="nk-menu-item"><a id="btnLogout" href="javascript:void(0);" class="nk-menu-link"><span class="nk-menu-text"><em class="icon ni ni-signout"></em> Sign out</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="loader" class="d-none">
    <div class="container">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>
</div>
<div class="nk-content nk-content-fluid vc-auth-required" id="page-user-profile-content">
    <div class="container-xl wide-xl">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-aside-wrap">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head nk-block-head-lg">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h4 class="nk-block-title">Personal Information</h4>
                                            <div class="nk-block-des">
                                                <p>Basic information that you use on Nio Platform.</p>
                                            </div>
                                        </div>
                                        <div class="nk-block-head-content align-self-start d-lg-none"><a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a></div>
                                    </div>
                                </div>
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="card-inner">
                                            <form action="" class="gy-3">
                                                <div class="row g-3 align-center">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="site-name">Username</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                <input type="text" disabled class="form-control" id="site-name" placeholder="Username" v-model="user.username">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-3 align-center">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="site-name">Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="site-name" placeholder="Your name" v-model="user.name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-3 align-center">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="site-name">Phone Number</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="site-name" placeholder="Your phone number" v-model="user.phone">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-3 align-center">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="site-name">Address</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="site-name" placeholder="Your address" v-model="user.address">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-3 align-center">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                <div class="text-danger" v-if="!user.isActive" v-cloak>Your account is not activated. Please check your email for activation link. <br/>If you haven't received the email, <a href="#" @click="resend()">click here</a> to re-send another email.</div>
                                                                <div class="text-success" v-html="successMessage"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-3">
                                                    <div class="col-lg-8 offset-lg-4">
                                                        <div class="form-group mt-2"><button type="button" @click="update" class="btn btn-lg btn-primary">Update</button></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                                <div class="card-inner-group" data-simplebar>
                                    <div class="card-inner">
                                        <div class="user-card">
                                            <div class="user-avatar bg-primary"><em class="icon ni ni-user-alt"></em></div>
                                            <div class="user-info"><span class="lead-text vc-name"></span><span class="sub-text vc-username"></span></div>
                                            <div class="user-action">
                                                <div class="dropdown">
                                                    <a class="btn btn-icon btn-trigger mr-n2" data-toggle="dropdown" href="#"><em class="icon ni ni-more-v"></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-inner p-0">
                                        <ul class="link-list-menu">
                                            <li>
                                                <a class="active" href="#">
                                                    <em class="icon ni ni-user-fill-c"></em>
                                                    <span>Personal Infomation</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/user/change-password">
                                                    <em class="icon ni ni-lock-alt-fill"></em>
                                                    <span>Change Password</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);"><em class="icon ni ni-bell-fill"></em>
                                                    <span>Notifications</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <em class="icon ni ni-activity-round-fill">
                                                    </em>
                                                    <span>Account Activity</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <em class="icon ni ni-lock-alt-fill"></em>
                                                    <span>Security Settings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <em class="icon ni ni-shield-star-fill"></em>
                                                    <span>Password Change</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <em class="icon ni ni-grid-add-fill-c"></em>
                                                    <span>Connected with Social</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            <div class="nk-footer nk-footer-fluid bg-lighter">
    <div class="container-xl">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright"> &copy; 2021 VietCorpus - All Rights Reserved.</a></div>
            <div class="nk-footer-links">
                <ul class="nav nav-sm">
                    <li class="nav-item"><a class="nav-link" href="/page/terms/">Terms</a></li>
                    <li class="nav-item"><a class="nav-link" href="/page/privacy-policy/">Privacy</a></li>
                    <li class="nav-item"><a class="nav-link" href="/page/guide/">Help</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLScNLZHqzrFH5eSDu-3ONFJnPwK-x0NCn1Njbn8yFbbhGXnD4w/viewform" target="_blank">Góp ý</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
            
            <script src="/plugins/vue/vue.js"></script>
            
            
            
<script async type="text/javascript" src="/js/bundled.min.fdcad629162d9be14cb0a956626bea6bcfa4925510f3e9f54b0d3d320690ed7658bd974576a259ad1376fd0c293e394e.js?ts=1659207177" integrity="sha384-/crWKRYtm&#43;FMsKlWYmvqa8&#43;kklUQ8&#43;n1Sw09MgaQ7XZYvZdFdqJZrRN2/QwpPjlO"></script>
            
        </div>
    </div>
</body>

</html>